@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

html > body, html > body .toastui-editor-contents, html > body .ProseMirror {
 font-family: 'Godo', sans-serif;
 text-underline-position: under;
}

html > body .toastui-editor-contents, html > body .ProseMirror {
	font-size: 1.25rem;
	text-align: left;
}

html > body .toast-ui-viewer .toastui-editor-contents {
	text-align: center;
}

.table-box-type-1 > table {
	width: 100%;
}
 
.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid rgba(31, 41, 55, 0.2);
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: black;
}

.btn-text-link:hover {
	color: olive;
	text-decoration: underline;
}

html[data-theme="dark"] :is(.table-box-type-1>table th, .table-box-type-1>table td) {
	border-color: rgba(166, 173, 186, 0.2);
}

html>body .toast-ui-viewer {
	padding: 10px;
	border-radius: 10px;
}

.theme-toggle .fa-solid{
	display: none;
}

html[data-theme="dark"] .theme-toggle .fa-solid {
  display:inline;
}

html[data-theme="dark"] .theme-toggle .fa-regular {
  display:none;
}

body {
	min-width: 800px;
}

.modal-exam {
	font-size: 3rem;
}

.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: black;
	color: white;
	border: 10px solid green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.layer > h2{
	padding: 20px;
}

.layer > .close-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 5px solid white;
	border-radius: 10px;
	padding: 10px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
}


.close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	padding: 1px 5px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
	font-size: 1.3rem;
}
 
.close:hover {
	border: 0;
	cursor: pointer;
	opacity: .75;
}

.border-bottom-line {
	border-bottom: 1px solid #e1e1e1;
}

.rounded-circle {
	border-radius: 50%;
}





.side-bar {
  color:black;
  position: fixed;
  top: 0;
  left: -270px;
  width: 300px;
  height: 100%;
  background-color: #cfcfcf;
  transition: background-color .3s, left .3s;
}

.side-bar:hover {
  color:white;
  background-color: black;
  left: 0;
  
  
}




.side-bar > .status-icon > div {
  text-align: right;
  padding: 5px;
}

.side-bar > .status-icon > div:last-child {
  display: none;
}

.side-bar:hover > .status-icon > div:last-child {
  display: block;
}

.side-bar:hover > .status-icon > div:first-child {
  display: none;
}

#check-menu-btn { display: none; }
#check-menu-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }




#project-name { display: none; }
#project-name:checked ~ .project-sub-name { display: block; } 
.project-sub-name { display: none; }





.modal_test {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 150;
}

.modal_block {
  display: block;
}

.modal_body {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 400px;
  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  z-index: 151;
}


.of-y-scroll{
	height: 250px;
	overflow-y:scroll;
}

.active{
	background-color: #cfcfcf;
}



.projectCard .projectCard-cts .info-item-wrapper .info-item-label {
/*     flex: 1; */
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

.projectCard {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e4e7ea;
    background-color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
}


.projectCard > * {
    padding: 15px 20px;
}

/* .cts_infos{ */
	
/* } */

.info-item-wrapper{
	 display: flex;
	 order: 1;
}

.info-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 5;
    height: 32px;
}

.info-item-label{
	box-sizing: border-box;
	width:100px;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
	
}

.projectCard > * {
    padding: 15px 25px;
}

.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-5 {
    width: 41.66666667%;
    float: left;
}
.projectMemo .project-memo-btn-wrapper .btn-project-memo {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
}

.projectMemo .contents {
    text-align: left;
    height: 138px;
    padding: 8px;
    line-height: 18px;
    white-space: pre-line;
    word-break: break-all;
}

.projectMemo textarea {

    border: 0;
    word-break: break-all;
    word-wrap: break-word;
    background: none;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 18px;
    padding: 8px;
    resize: none;
}

.projectMemo .project-memo-btn-wrapper {
    text-align: right;
}
.projectMemo{
	border: 1px solid #fff59d;
	background: #fffce2;
}
.projectMemo textarea{
	margin: 0 5px;;
	background-color: #fff59d;
	width: calc(100% - 10px);
}

.btn-text {
    display: inline-block;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
    margin-right: 6px;
}

.projectCard >header {
	padding: 10px 20px;
    display: table;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}


.projectCard header .title {
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    width: calc(100% - 160px);
}

.projectCard header > div {
    display: table-cell;
    vertical-align: right;
}

.projectCard header > div {
    display: table-cell;
    vertical-align: middle;
}


.btn-icon{
	display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
}
