@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

html > body, html > body .toastui-editor-contents, html > body .ProseMirror {
 font-family: 'Godo', sans-serif;
 text-underline-position: under;
}

html > body .toastui-editor-contents, html > body .ProseMirror {
	font-size: 1.25rem;
	text-align: left;
}

html > body .toast-ui-viewer .toastui-editor-contents {
	text-align: center;
}

.table-box-type-1 > table {
	width: 100%;
}
 
.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid rgba(31, 41, 55, 0.2);
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: black;
}

.btn-text-link:hover {
	color: olive;
	text-decoration: underline;
}

html[data-theme="dark"] :is(.table-box-type-1>table th, .table-box-type-1>table td) {
	border-color: rgba(166, 173, 186, 0.2);
}

html>body .toast-ui-viewer {
	padding: 10px;
	border-radius: 10px;
}

.theme-toggle .fa-solid{
	display: none;
}

html[data-theme="dark"] .theme-toggle .fa-solid {
  display:inline;
}

html[data-theme="dark"] .theme-toggle .fa-regular {
  display:none;
}

body {
	min-width: 800px;
}

.modal-exam {
	font-size: 3rem;
}

.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: black;
	color: white;
	border: 10px solid green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.layer > h2{
	padding: 20px;
}

.layer > .close-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 5px solid white;
	border-radius: 10px;
	padding: 10px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
}


.close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	padding: 1px 5px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
	font-size: 1.3rem;
}
 
.close:hover {
	border: 0;
	cursor: pointer;
	opacity: .75;
}

.border-bottom-line {
	border-bottom: 1px solid #e1e1e1;
}

.rounded-circle {
	border-radius: 50%;
}







/* 모달 */
.modal_test {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
}

.modal_block {
  display: block;
}

.modal_body {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 400px;
  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  z-index: 31;
}



.modal-create-div {
	margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.modal-create-span {
    width: 70%;
    margin-left: auto;
}

.of-y-scroll{
	height: 250px;
	overflow-y:scroll;
}

.active{
	background-color: #cfcfcf;
}




/* project Main page- projectCard */

.projectCard {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e4e7ea;
    background-color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
}

.projectCard > * {
    padding: 15px 25px;
}


/* _projectCard 헤드 */
.projectCard >header {
	padding: 10px 20px;
    display: table;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.projectCard header .title {
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    width: calc(100% - 160px);
}

.projectCard header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.5rem;
}

/* _projectCard 프로젝트 인포 */
.cts_infos .info-item-wrapper{
	display: flex;
	order: 1;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 5;
    height: 32px;
}


.projectCard .projectCard-cts .info-item-wrapper .info-item-label{
	box-sizing: border-box;
	width:100px;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
	
}

.project_info_width_40 {
    width: 40%;
}

.col-xs-7 {
    width: 58.33333333%;
}





/* _projectCard 메모 */
.project_memo_width_55{
	width: 55%;
}

.project_memo_width_41_left{
    width: 41.66666667%;
    float: left;	
}

.project_memo_width_55_left{
	width: 55%;
	float: left;
}

.col-xs-5 {
    width: 41.66666667%;
    float: left;
}

.projectMemo textarea {

    border: 0;
    word-break: break-all;
    word-wrap: break-word;
    background: none;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 18px;
    padding: 8px;
    resize: none;
}

.projectMemo .contents {
    text-align: left;
    height: 138px;
    padding: 8px;
    line-height: 18px;
    white-space: pre-line;
    word-break: break-all;
}




.projectMemo{
	border: 1px solid #fff59d;
	background: #fffce2;
}
.projectMemo textarea{
	margin: 0 5px;;
	background-color: #fff59d;
	width: calc(100% - 10px);
}



/* _projectCard 메모 버튼 */
.projectMemo .project-memo-btn-wrapper {
    text-align: right;
}

.projectMemo .project-memo-btn-wrapper .btn-project-memo {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
}
.project-memo-btn-wrapper .btn-text {
    display: inline-block;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
    margin-right: 6px;
}


/* projectCard__btnGroup 아이콘*/

.btn-icon{
	display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
}






/* myWork 관련*/
/* myWork load */
img {
	overflow-clip-margin: content-box;
    overflow: clip;
	vertical-align: middle;
    width: 50px;
    aspect-ratio: auto 50 / 50;
    height: 50px;
}


/* myWork container */
.container {
    max-width: 100%;
    width: 100%;
}



/* myWork head */
.project-manage.project-manage-header {
    z-index: 20;
/*     display: flex; */
    position: relative;
/*     align-items: center; */
/*     justify-content: space-between; */
    width: 100%;
    height: 65px;
    box-sizing: border-box;
/*     padding: 0 50px; */
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
/* 	border-bottom-width:1px; */
/*   	border-bottom-color:#dfdfdf; */

}
.project-manage-header>header>div{
	z-index: 21;
/* 	height:inherit; */
	background-color: #ffffff;
	border-bottom-width:1px;
  	border-bottom-color:#dfdfdf;
}








/* myWork side-bar */
.side-bar {
/*   position: fixed; */
/*   top: 0; */
/*   left: -230px; */
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 250px;
	width: 280px;
	height: 100%;
	background-color: #fcfcfc;
/*   transition: background-color .3s, left .3s; */
}

/* .side-bar:hover { */
/*   color:white; */
/*   background-color: black; */
/*   left: 0; */
/* } */

.side-bar > .menu-box-1 > ul ul {
  background-color: black;
}


.side-bar > .menu-box-1 ul > li {
  position: relative;
}

.side-bar > .menu-box-1 ul > li > a {
  display: block;
  font-weight: bold;
  padding: 10px;
  white-space:nowrap;
}

.side-bar > .menu-box-1 ul > li:hover > a {
  background-color: white;
  color:black;
} 


.side-bar > .menu-box-1 ul > li > a:not(:only-child)::after{
  content:"[+]";
}

.side-bar > .menu-box-1 ul > li:hover > a:not(:only-child)::after{
  content:"[-]";
}

.side-bar > .menu-box-1 > ul ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
}

.side-bar > .menu-box-1 ul > li:hover > ul {
  display: block;
}




/* myWork의 side-bar 리스트*/
dd .project-title{
	padding: 10px;
}

dd .inTree {
	padding: 15px 10px
	
}
dd .inTree >li{
    margin-bottom: 4px;
    font-style: normal;
    font-size: 1rem;
}

/* side-bar-click 이벤트 */

#check-menu-btn { display: none; }
#check-menu-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }


/* #project-name { display: none; } */
#project-name { display: none; }
#project-name:checked ~ .project-sub-name { display: block; } 
.project-sub-name { display: none; }




.myWorkFrameSetA{
	display: flex;
/*     justify-content: space-evenly; */
	
} 

.myWorkFrameSetA> .rtCnt {
    padding: 15px 15px 0 15px;
}


.hidden {
    display:none;
}


.btn_area {
  	margin: auto;
    margin-top: 30px;
    margin-bottom: 20px
}

.folderOptView{
	display: none;
	position: fixed;
/*     left: 176px; */
/*     top: 173px; */
    left: 22%;
    top: 0;
  	text-align: center;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-170%) translateY(95%);
    width: 90px;
    height: 90px;
    border-radius: 10px;
	z-index: 50;
}
.folderOptView-body{
    margin-top: 6px;
	
}

.folderOptView ul>li:hover {
	text-decoration: underline;
}


/* main page */
.banner-section{
	height: 320px;
	width: 100%;
	background-color: #9FE2BF;
	display: flex;
	
}

.banner-section img{
	height: 240px;
	width: 380px;
}

.login-wrapper {
	background-color:white;
	right: 0;
    left: auto;
    position: absolute;
    margin-top: 28px;
    margin-right: 3.5%;
    border-radius: 15px;
}



.table-box-type-2 > table {
	width: 100%;
	font-size: 1rem;
	
}
 
.table-box-type-2 > table th, .table-box-type-2 > table td {
	padding: 10px;
	text-align: center;
	
}

.login-wrapper hr {
    background:rgba(209, 213, 219, var(--tw-bg-opacity));
    height:1px;
    border:0;
}